/* Reset basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

/* Styling untuk Tombol Burger Menu */
.menu-btn {
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}

/* Styling untuk Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar tersembunyi */
    background-color:   #BDBDBD;
    color: white;
    padding-top: 60px;
    transition: left 0.3s;
    z-index: 1;
}

/* Link di Sidebar */
.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #BBDEFB  ;
}

/* Tombol Close di Sidebar */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Konten utama */
.content {
    flex: 1;
    padding: 20px;
    margin-left: 50px;
}

/* Sidebar terbuka */
.sidebar.active {
    left: 0;
}
/* Menyembunyikan tombol burger saat sidebar terbuka */
.menu-btn.hidden {
    display: none;
}
